/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-title-color: #DB00FF;
  --shadow-color: #ff0070;
  --accent-color: #ff0070;
  --elems-color: #ff0070;
  --title-color: #000;
  --main-font-family: 'IBM Plex mono', monospace;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
}